dmr-kaitai>=0.9
bitarray==2.6.0
numpy==1.23.5
# required for test tools and working with pcap/pcapng (eg. cli dmrlib-pcap-tool)
scapy>=2.4.5
# for testing
pytest==7.2.0
pytest-cov==4.0.0
pytest-asyncio==0.20.2
# required only to run test_crc (comparing crc and bit-crc implementations)
crc==3.0.0
# for repo contributors
pre-commit
